@import "base";
:host {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 10vh;
    margin-bottom: $header-height;
}

.info {
    margin: 25px auto;
}

.card-body {
    text-align: center;
    .list {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        .list-item {
            .item {
                color: $dark-color;
                .arrow {
                    font-size: 14px;
                    margin: auto 15px;
                }
            }
        }
    }
}