<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p class="info">See some of the examples of how this app should work.</p>
            <p class="info">1) For words that begin with consonant sounds, all letters before the initial vowel are placed at the end of
                the word sequence:</p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <ul class="list">
                                <li class="list-item">
                                    <span class="item">pig
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> ig-pay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">latin
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> atin-lay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">banana
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> anana-bay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">happy
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> appy-hay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">duck
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> uck-day
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <ul class="list">
                                <li class="list-item">
                                    <span class="item">me
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> e-may
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">real
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> eal-ray
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">will
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> ill-way
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">wet
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> et-way
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">too
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> oo-tay
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <p class="info">2) When words begin with consonant clusters (multiple consonants that form one sound), the whole sound is added
                to the end when speaking or writing:</p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <ul class="list">
                                <li class="list-item">
                                    <span class="item">cheers
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> eers-chay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">shesh
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> esh-shay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">smile
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> ile-smay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">string
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> ing-stray
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">thanks
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> anks-thay
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <ul class="list">
                                <li class="list-item">
                                    <span class="item">stupid
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> upid-stay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">shrink
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> ink-shray
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">strong
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> ong-stray
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">troll
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> oll-tray
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">spray
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> ay-spray
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <p class="info">3) For words that begin with vowel sounds:</p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <ul class="list">
                                <li class="list-item">
                                    <span class="item">eat
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> eat-ay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">omelet
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> omelet-ay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">egg
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> egg-ay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">explain
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> explain-ay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">until
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> until-ay
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <ul class="list">
                                <li class="list-item">
                                    <span class="item">angular
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> angular-ay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">is
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> is-ay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">only
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> only-ay</span>
                                </li>
                                <li class="list-item">
                                    <span class="item">always
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> always-ay
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="item">amazing
                                        <i class="fa fa-arrow-right arrow" aria-hidden="true"></i> amazing-ay
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>