<header class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h1 class="title" (click)="goHome()">Pig Late</h1>
        </div>
        <div class="col-8">
            <nav class="nav desktop-nav d-none d-md-block">
                <ul class="list">
                    <li class="list-item">
                        <a class="item" routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li class="list-item">
                        <a class="item" routerLink="/info" routerLinkActive="active">More Info</a>
                    </li>
                    <li class="list-item">
                        <a class="item" routerLink="/samples" routerLinkActive="active">Samples</a>
                    </li>
                </ul>
            </nav>
            <nav class="nav mobile-nav d-block d-md-none">
                <ul class="list">
                    <li class="list-item">
                        <a class="item" routerLink="/home" routerLinkActive="active">
                            <i class="fa fa-home icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="item" routerLink="/info" routerLinkActive="active">
                            <i class="fa fa-info-circle icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="item" routerLink="/samples" routerLinkActive="active">
                            <i class="fa fa-eye icon" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>